<div class="container color-light">
      <div class="col">  
        <form>
          <input type="text" class="txt" name="item" [(ngModel)]="toDoText" placeholder="To do plan">
          <input type="submit" class="btn" value="{{toDoTextButton}}" (click)="AddItem()">
          <input type="submit" class="btn" value="{{toDoTextButtonRemove}}" (click)="RemoveItem()">
        </form>
      </div>
      <div class="container color-dark">
      <div class="col">
          <p class="life-container" *ngFor="let todo of toDoList">
              {{ todo }};
          <button type = "submit" (click) = "RemoveByIndex(todo)">Remove</button>
          </p>
      </div>
      </div>
</div>
